section {
    padding: 30px 0px;
    width: 100%;
}

#footer {
    background-color: #202126;
}
#footer-bottom {
    background-color: #111015;
}
.header.fixed-header {
    background-color: #35b4db;
}
.navbar-default .navbar-nav > li > a {
	font-weight: 600;
}
.content_flow ul li{
    font-size: 13px;
}
.footer-widget form .btn-primary{
	position: relative;
}
.footer-widget .form-group input {
    height: 35px;
    padding: 5px;
    color: #ffffff;
	background-color: #000;
}
.footer-widget .form-group textarea{
	color: #ffffff;
	background-color: #000;
}
.widget-content .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.carousel-caption {
    bottom: 5px;
    }

#banner {
    background: transparent url("../images/1.jpg") no-repeat fixed center center / cover;
    padding: 120px 0px 0px;
    position: relative;
}
.mission-vission img{
	max-height: 300px;
}
.footer-widget h3{
    text-transform: none;
}
.btn-success {
    color: #FFF;
    background-color: #0b7e45;
    border-color: #dccdcd;
    border-radius: 2px;
}
.footer-widget ul li i {
    margin: 6px 10px 6px 0px;
    color: #0b7e45;
}
.nav li a i{ color: #ffffff; font-size: 18px; }
.phone h6{ color: #000000; }
.phone h6 i{color: #ffffff;}
.main-nav {
    padding: 0px;
}
.navbar-default .navbar-nav > li > a:hover{
   /* border-bottom: 2px solid #990100;*/
}
.contact-detail {
    height: auto;
    position: relative;
}
.section-title::before, .inner-title::before {
    background-color: #990100;
}
.carousel-caption {
    left: inherit;
    right: auto;
    text-align: center !important;
}
.service-title{ text-align:center;}
.service_icon{
text-align:center;}
.service_icon img{ max-width:60px; max-height:60px;margin-left: auto;
	margin-right: auto;
	display: block;}
.feedback p{ padding-top:30px;}	